.dashboard-grid {
  display: grid;
  gap: 16px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .create {
      grid-column: 1;
    }

    .list {
      grid-column: 2/3;
    }
  }
}