.vehicle-list {
  .header-grid {
    display: grid;

    .search {
      flex: 1;
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    @media only screen and (min-width: 600px) {
      grid-template-columns: 1fr auto;

      button {
        margin-left: 16px;
        height: 56px; // 🤢
      }
    }



  }


}